.search-dropdown {
  background: #fff;
  border-radius: 0 0 30px 30px;
  padding: 21px;
  margin: 0 20px;
  width: calc(100% - 40px);
  max-width: 560px !important;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      &:hover {
        background-color: #e9ecef;
      }

      cursor: pointer;
      padding: 5px;

      &:not(:last-child) {
        border-bottom: 1px solid #dedede;
      }
    }
  }
}

.show-details {
  cursor: pointer;
  color: #5e72e4;

  &:hover {
    color: orange;
  }
}

.watchlist {
  tbody{
    max-height: 240px !important;
    overflow-x: auto;
    display: inline-block;
  }
  th, td {
    padding: 10px 7px !important;
    //display: table;
    //width: 100%;
    //table-layout: fixed;
  }
  td:last-child, th:last-child{
    width: 25px;
  }

  tr {
    cursor: pointer;
    display: table;
    width: 100%;
    table-layout: fixed;
  }
}

.card-profile {
  margin-bottom: 20px;
}

.show-less {
  height: 50px;
  overflow: hidden;
}

.removeStock {
  cursor: pointer;
}